.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  &--flex-row {
    display: flex;
    flex-direction: row;
  }
  &--flex-col {
    display: flex;
    flex-direction: column;
  }
  &--flex-jc-center {
    justify-content: center;
  }
  &--flex-jc-between {
    justify-content: space-between;
  }
  &--flex-jc-around {
    justify-content: space-around;
  }
  &--flex-jc-start {
    justify-content: flex-start;
  }
  &--flex-jc-end {
    justify-content: flex-end;
  }
  &--flex-ai-center {
    align-items: center;
  }
  &--flex-ai-start {
    align-items: flex-start;
  }
  &--flex-ai-end {
    align-items: flex-end;
  }
  &--flex-ai-baseline {
    align-items: baseline;
  }
  &--flex-ai-stretch {
    align-items: stretch;
  }
}